<link rel="stylesheet" href="/css/nav.css">
<div id="navID" class="nav_bar_hidden">

    <ul>
        <li onclick="hidemenu()">
            Hide Menu                
        </li>
        <li onclick="setTitle('DATA STOCK 1017')">
            DATA STOCK 1017               
        </li>

    </ul>
</div>